<!DOCTYPE html>
<html>
<head>
	<title> Edit Menu</title>
	<!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container" style="background-color: #eee;">
            <div class="row" style="background-color: #3b5998; color: #fff; padding: 16px; border-radius: 0 0 20px 20px;">
				<h1> Edit Menu Item</h1>
            </div>
            <div class="row" style="padding: 16px 0 16px 0;">
                  <div class="col-lg-4">
						<form action="{{url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=item.id)}}" method="post">
                              <div class="form-group">
                                    <label>Name: </label>
									<input type ='text' size='30' name='name' class="form-control" value="{{item.name}}" required>
                              </div>
                              <div class="form-group">
                                    <label>Description: </label>
								    <textarea name = 'description' rows='5' class="form-control" cols='40' value="{{item.description}}" required></textarea>
                              </div>
                              <div class="form-group">
                                    <label>Price: </label>
								    <input type = 'text' size = '8' name='price' class="form-control" value="{{item.price}}" required>
                              </div>
                              <div class="form-group">
                                    <label>Course: </label>
                                {% if item.course == 'Appetizier' %}
								<input type ='radio' name='course' value='Appetizer'checked >Appetizer
								{%else%}
								<input type ='radio' name='course' value='Appetizer' >Appetizer
							    {% endif %}

							    {% if item.course == 'Entree' %}
							       <input type ='radio' name='course' value='Entree' checked>Entree

							    {%else%}
									<input type ='radio' name='course' value='Entree'>Entree
							    {% endif %}

								{% if item.course == 'Dessert'%}
									<input type ='radio' name='course' value='Dessert' checked >Dessert

								{% else %}
								   <input type ='radio' name='course' value='Dessert'>Dessert
								{% endif %}

								{%if item.course =='Beverage'%}
								<input type ='radio' name='course' value='Beverage' checked >Beverage
								{% else %}
									<input type ='radio' name='course' value='Beverage'>Beverage
								{% endif %}
                              </div>
                            <input type="submit" name="Edit" class="btn btn-primary">
							<a href="{{url_for('restaurantMenu', restaurant_id=restaurant_id)}}" class="btn btn-default"> Cancel </a>
                        </form>
                  </div>
            </div>
      </div>
</body>
</html>