<!DOCTYPE html>
<html>
<head>
	<title>Menu Items</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container" style="background-color: #eee;">
		<div class="row" style="background-color: #3b5998; color: #fff; padding: 16px; border-radius: 0 0 20px 20px;">
			<h2>{{restaurant.name}}</h2>
			{% if not items %}
				<strong> You currently have no menu items. </strong><br>
			{% endif %}
			<a href="{{url_for('newMenuItem', restaurant_id=restaurant.id)}}" class="btn btn-default"> Create new menu item!</a>
		</div>
		<div class="row" style="padding: 16px 0 16px 0;">
			{% for item in items %}
			<div class="col-md-4" style="padding: 16px; border: 5px solid #eee; background-color: #fff;">
				<div class="row">
					<div class="col-md-2">
						<p>Name: </p>
					</div>
					<div class="col-md-offset-2 col-md-8">
					<a href="{{url_for('restaurantMenu', restaurant_id=restaurant.id)}}" >{{item.name}}</a>				
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<p>Description: </p>
					</div>
					<div class="col-md-offset-2 col-md-8">
						<p>{{item.description}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<p>Price: </p>
					</div>
					<div class="col-md-offset-2 col-md-8">
						<p>{{item.price}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<p>Course Type: </p>
					</div>
					<div class="col-md-offset-2 col-md-8">
						<p>{{item.course}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<a href="{{url_for('editMenuItem',restaurant_id=restaurant.id, menu_id=item.id)}}" class="btn btn-primary">Edit Item</a>
						<a href="{{url_for('deleteMenuItem',restaurant_id=restaurant.id, menu_id=item.id)}}" class="btn btn-primary">Delete Item</a>	
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</body>
</html>