.right {
	float: right;
	width: 75%;
	height: 100%;
}
header h1 {
	padding: 0 16px;
	letter-spacing: 4px;
	font-size: 40px;
	margin: 16px;
	color: #141414;
}
hr {
	border-color: #009999;
	border-width: 1px;
}
.articles {
	margin: 32px;
	box-shadow: 2px 2px 2px #eee;
}
.general {
	padding: 16px;
}
.skills {
	display: inline-flex;
	width: 85%;
	flex-wrap: wrap;
	padding: 16px;
	border: 0;
}
.language h1 {
	text-align: center;
	color: #307bbb;
}
.xs{
	display: none
}
@media screen and (max-width: 517px) {
	.xs {
		display: block;
	}
	.lg {
		display: none;
	}
	.skills {
		width: 100%;
		float: none;
	}
}